*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : sans-serif;
}

body{
    display : flex;
    min-height : 100vh;
    justify-content : center;
    align-items : center;
    background : #F7F7F7;
}

.container{
    border : 2px solid #323643;
    border-radius : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding : 25px 50px;
    gap : 25px;
}

.content{
    width : 300px;
    text-align : center;
    height : 40px;
    font-size : 17px;
    border : 1px solid #606470;
    border-radius : 5px;
}

.btn{
    background : #93DEFF;
    color : #323643;
    padding : 10px 20px;
    font-size : 17px;
    border-radius : 5px;
    font-weight : 600;
    border : 1px solid #323643;
    transition : .25s;
}

.btn:hover{
    background : #78b7d2;
}

.btn:active{
    background : #95d9f7;
}

.qrcode{
    display : none;
    justify-content : center;
    align-items : center;
    width : 150px;
    height : 150px;
}

.qrcode .output{
    display : none;
}

.qrcode .loading{
    position : relative;
    width : 70px;
    height : 70px;
    border : 10px solid #78b7d2;
    border-top : 10px solid #323643;
    border-radius : 50%;
    animation : rotating 1s linear infinite;
}

@keyframes rotating{
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}