*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : sans-serif;
}

body{
    display : flex;
    min-height : 100vh;
    justify-content : center;
    align-items : center;
    background : #F7F7F7;
}

.container{
    border : 2px solid #323643;
    border-radius : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding : 25px 50px;
    gap : 25px;
}

.content{
    width : 300px;
    text-align : center;
    height : 40px;
    font-size : 17px;
    border : 1px solid #606470;
    border-radius : 5px;
}

button{
    background : #93DEFF;
    color : #323643;
    padding : 10px 20px;
    font-size : 17px;
    border-radius : 5px;
    font-weight : 600;
    border : 1px solid #323643;
    transition : .25s;
}

button:hover{
    background : #78b7d2;
}

button:active{
    background : #95d9f7;
}

.qrcode[src=""]{
    display : none;
}